<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ruvik1001.arm_seller">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.ARM_Seller"
        tools:targetApi="31">
        <activity
            android:name=".StroyMaterialActivity"
            android:exported="false"
            android:label="Строительные материалы"/>
        <activity
            android:name=".PiloMaterialActivity"
            android:exported="false"
            android:label="Пиломатериалы"/>
        <activity
            android:name=".HardwareActivity"
            android:exported="false"
            android:label="Скобяные изделия"/>
        <activity
            android:name=".PlitkaActivity"
            android:exported="false"
            android:label="Плитка"/>
        <activity
            android:name=".NapolniyActivity"
            android:exported="false"
            android:label="Напольные покрытия"/>
        <activity
            android:name=".KraskiActivity"
            android:exported="false"
            android:label="Краски"/>
        <activity
            android:name=".InstrumentyActivity"
            android:exported="false"
            android:label="Инструменты"/>
        <activity
            android:name=".MyChangeActivity"
            android:exported="false"
            android:label="Моя смена"/>
        <activity
            android:name=".ReportAboutDefectActivity"
            android:exported="false" />
        <activity
            android:name=".SerchActivity"
            android:exported="false" />
        <activity
            android:name=".AboutCheckActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".MyProfileActivity"
            android:exported="false"
            android:label="Профиль" />
        <activity
            android:name=".PostuplenieActivity"
            android:exported="false"
            android:label="Поступления" />
        <activity
            android:name=".SkladActivity"
            android:exported="false"
            android:label="Склад" />
        <activity
            android:name=".Main_menu"
            android:exported="false"
            android:label="Главное меню" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>